<table>
    <tr>
        <th>順位</th>
        <th>名前</th>
        <th>得点</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{rank}}</td>
        <td>{{nickname}}</td>
        <td>{{point}}</td>
    </tr>
    {{/each}}
<tr>